* {
    --primary: #9361FC;
    --secondary: #4AF542;
    --tertiary: #E8E8E8;
}

main {
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container-section {
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid blue;*/
}

.banner-section {
    height: 35rem;
    background-image: url(https://www.cuiaba.mt.gov.br/storage/webdisco/2015/04/01/original/7c27d367d366f420d0b4386f286ad82d.jpg);
    background-size: cover;
    background-position: center;
}

.banner-section::before {
    content: "";
    width: 100%;
    height: 35rem;
    position: absolute;
    background-color: #4d31899a;
}

.banner-section .container-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    z-index: 10;
}

.banner-section .container-section .textos-banner {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-section .container-section .textos-banner h1 {
    font-size: 40pt;

    color: var(--tertiary);
}

.banner-section .container-section .textos-banner p {
    font-size: 15pt;
    color: #c9c9c9;
}

.section-about .container-section {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-about .container-section h1 {
    font-size: 27pt;
    margin-bottom: 2rem;
}

.section-about .container-section .card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem;
}

.section-about .container-section .card .imagem {
    width: 70%;
    height: 35rem;
    overflow: hidden;
    border-radius: 2rem;
}

.section-about .container-section .card .imagem img {
    position: relative;
    right: 10rem;
}

.section-about .container-section .card .textos-about {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-about .container-section .card .textos-about p {
    width: 100%;
    font-size: 15pt;
}

.section-contact .container-section {
    height: 35rem;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.section-contact .container-section form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    /*align-items: center;*/
}

input,
textarea {
    border: none;
    background: none;
}

.input input {
    width: 100%;
    height: 100%;
    font-size: 12pt;
}

textarea {
    padding-bottom: 1rem;
    font-size: 12pt;
}

.input {
    border: 2px solid transparent;
    width: 100%;
    height: 3rem;
    padding-left: 0.8em;
    display: flex;
    align-items: center;
    gap: .5rem;
    outline: none;
    overflow: hidden;
    background-color: #f3f3f3;
    border-radius: 1rem;
    transition: all 0.5s;
}

.textarea {
    border: 2px solid transparent;
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    outline: none;
    overflow: hidden;
    background-color: #f3f3f3;
    border-radius: 1rem;
    transition: all 0.5s;
}

.input:hover, .textarea:hover {
    border: 2px solid #9361FC;
    box-shadow: 0px 0px 0px 7px #9361FC33;
    background-color: white;
}