*{
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-gray);
    color: var(--text-dark);
    display: flex;
    height: 100vh;
    /*overflow: hidden;*/
}

/* --- Sidebar --- */
#sidebar {
    width: var(--sidebar-width);
    background-color: var(--primary-purple);
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

#sidebar .logo-section {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}
#sidebar nav li a {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--text-light);
    padding: 15px 25px;
    text-decoration: none;
    transition: background 0.3s;
}

#sidebar nav li a:hover {
    background-color: var(--purple-hover);
}

#sidebar nav li a i {
    margin-right: 15px;
    font-size: 1.2rem;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    border-radius: .8rem;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    transition: var(--transition);
    text-decoration: none;
    border: none;
}